*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(238, 235, 235, 0.671);
  font-size: 16px;
}


/* NAV */
nav{
  box-shadow: 1px 1px 10px gray;
  
}
.container-fluid{
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 500;
  background-color: #DDD369;
  top: 0%;
  box-shadow: 1px 1px 10px gray;
  
}

.navbar-nav .nav-link{
  font-weight: 650;
  font-family: sans-serif;
}

.navbar-nav .nav-link:hover{
  color: #0d6efd;
}



.navbar{
  width: 10%;
}

.navbar-collapse{
  display: flex;
  justify-content: right;
  
  width: 10%;
}
.navbar-brand img{
  width: 25vh;
  height: 8vh;
}

/*SECTION CARRUSEL*/

.carousel-inner{
  
  height: 70vh;
  margin-top: 3%;
}

.carousel-item img{
  
  height: 70vh;
}



/*SECTION SERVICIOS*/
/*section-dos*/
.section-dos{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../assets/img/section11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 10px gray;
}
.section-dos h2{
  margin: 3%;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: white;
}

.container-servicios{
  margin-bottom: 3%;
}

.servicios{
  margin: 10%;
  text-align: center;
  background-color: rgba(37, 35, 35, 0.742);
}





.servicios h3{
  font-size: 1.2em;
  color: white;
}
.servicios p{
  color: white;
}

.servicios .fa-brands, .fa-solid{
  margin-top: 15%;
  margin: 7%;
  font-size: 2.8em;
  color: #00B2FF;
}



/*section-tres*/
.section-tres{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.section-tres h2{
  margin: 3%;
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 2em;
  
}

/*section-cuatro*/

.section-cuatro{
  margin-top: 5%;
}

.section-cuatro h2{
  color:#0d6efd;
  font-weight: 700 ;
  text-align: center;
}
.row-clientes{
  text-align: center;
}
.row-clientes img{
  margin-top: 4%;
  text-align: center;
  width: 15vw;
  padding-bottom: 8%;
}
.row-clientes img:hover{
  margin-top: 4%;
  text-align: center;
  transform: scale(0.9);
}


/*footer*/

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(19, 3, 36);
  box-shadow: 1px 1px 15px rgb(0, 0, 0);
  padding-bottom: 5%;
}

footer h2{
  margin: 3%;
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: white;
}

.contenedor-mapa-redes{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contenedor-mapa-redes .mapa{
  width: 50%;
}
.contenedor-mapa-redes .mapa iframe{
  margin: 5%;
  width: 90%;
  height: 61vh;
}

.contenedor-redes{
  width: 50%;
}
.contenedor-redes .redes{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 7%;
}

.contenedor-redes .redes .media{
  color: white;
  text-decoration: none;
  font-size: 1.8em;
}


.contenedor-redes .redes h4{
  color: #00B2FF;
  margin-left: 3%;
}

.copyright h4{
  margin:1%;
  text-align: center;
  color: black;
  font-size: 1em;
}



@media (min-width: 320px) and (max-width: 575px){

  .container-fluid{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-collapse{
    display: flex;
    justify-content: left;
    
    width: 10%;
  }
  .carousel-inner{
    position: static;
    height: 30vh;
    margin-top: 7%;
  }
  .carousel-item img{
    height: 30vh;
  }


}